#root {
    width: 100%;
    height: 100svh;
}

html, body {
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px;
    background-color: #343541;
    @media screen and (max-width:750px) {
        font-size: 24px;
    }
    @media (prefers-color-scheme: light) {
        background-color: #F5F5F5;
    }
}

::-webkit-scrollbar {
    display: none;
}

#ComposeTargetContainer {
    width: 100%;
    height: 100%;
}