name: Build And Test
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: build-and-test-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: -Dkotlin.compiler.execution.strategy=in-process -Dorg.gradle.workers.max=2 -Dorg.gradle.daemon=false -Dorg.gradle.jvmargs="-Xmx4500m"
      ANDROID_SERVER_HOST: example.com
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew ktlintCheck --continue
      - run: ./gradlew :backend:assemble
      - run: ./gradlew :frontend:app:jsBrowserDevelopmentWebpack
      - env:
          CI: true
        run: ./gradlew :frontend:app:assembleDebug
      - uses: actions/upload-artifact@v6
        with:
          name: apk
          path: frontend/app/build/outputs/apk/debug/*.apk
      - run: ./gradlew allTests
      - name: collect reports file
        if: failure()
        run: |
          mkdir -p .tmp/reports
          find -wholename "*/build/reports" | xargs -I {} bash -c "mkdir -p .tmp/reports/{} && cp -r {} .tmp/reports/{}"
      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: reports
          path: .tmp/reports/
          retention-days: 7
